{{!-- {{#each renderCommentArrayProperty}}
<div id={{@index}}>

<textarea rows="2" cols="20" data-comment={{@index}} class="commentValue">

{{comment_content}}

</textarea>

  <i class="far fa-heart"></i>
 <a href="profile/comment/6" class='comment'>comment</a>
  <i class="far fa-share-square"></i>
  <button class="putSubmit" data-id="{{@index}}">put</button>
  <button class="deleteSubmit" data-delete="{{@index}}">delete</button>
</div>


{{/each}} --}}


<p>hello</p>